.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

apps/signer/node_modules

apps/states-of-matter/node_modules

apps/svm-wallet/backend/node_modules
apps/svm-wallet/frontend/node_modules
apps/svm-wallet/frontend/.angular
apps/svm-wallet/frontend/dist

contracts/eosio.token/build
contracts/eterni_svm/build

contracts/eterni_svm/.eosproj
contracts/eterni_svm/EterniSVM.abi
contracts/eterni_svm/EterniSVM.wasm
