@use "@angular/material" as mat;

$my-typography: mat.define-typography-config(
  $font-family: "Nunito"
);

@include mat.core($my-typography);

$my-primary: mat.define-palette(mat.$purple-palette, A200);
$my-accent: mat.define-palette(mat.$blue-palette, A200);
$my-warn: mat.define-palette(mat.$red-palette, A200);

$my-theme: mat.define-dark-theme((
  color: (primary: $my-primary, accent: $my-accent, warn: $my-warn)
));

@include mat.all-component-themes($my-theme);
