:root {
  --elevation-sm:
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --elevation-md:
    0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  --elevation-lg:
    0 5px 5px -3px rgba(0,0,0,.2),
    0 8px 10px 1px rgba(0,0,0,.14),
    0 3px 14px 2px rgba(0,0,0,.12);

  --neutral: 239, 218, 219;
  --solid: 255, 108, 108;
  --liquid: 176, 231, 255;
  --gas: 170, 224, 85;
  --plasma: 179, 105, 244;
  --health: 133, 201, 2;
  --damage: 255, 139, 0;
  --mana: 0, 175, 193;
  --main: 121, 108, 255;

  --dark-grey: 31, 31, 31;
  --grey: 48, 48, 48;
  --light-grey: 64, 64, 64;

  --spacing-xsm: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 20px;
  --spacing-xlg: 24px;

  --font-xsm: 12px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-xlg: 20px;

  --card-height: 216px;
  --card-width: 144px;

  --ease-in-out-quart: 0.76, 0, 0.24, 1;
  --ease-in-out-quad: 0.45, 0, 0.55, 1;
}


.lt-white {
  color: rgb(var(--neutral));
  text-shadow: 0 0 1px rgb(var(--neutral));
}
.lt-red {
  color: rgb(var(--solid));
  text-shadow: 0 0 1px rgb(var(--solid));
}
.lt-blue {
  color: rgb(var(--liquid));
  text-shadow: 0 0 1px rgb(var(--liquid));
}
.lt-green {
  color: rgb(var(--gas));
  text-shadow: 0 0 1px rgb(var(--gas));
}
.lt-purple {
  color: rgb(var(--plasma));
  text-shadow: 0 0 1px rgb(var(--plasma));
}
.green {
  color: rgb(var(--health));
  text-shadow: 0 0 1px rgb(var(--health));
}
.orange {
  color: rgb(var(--damage));
  text-shadow: 0 0 1px rgb(var(--damage));
}
.blue {
  color: rgb(var(--mana));
  text-shadow: 0 0 1px rgb(var(--mana));
}

.grey {
  color: rgb(127, 127, 127);
}

body {
  margin: 0;
  font-family: "Nunito", "Cardo", serif;
  line-height: 1;
  color: white;
}

a {
  color: rgb(var(--purple));
  text-decoration: underline;
}

h1, p {
  margin: 0;
  margin-bottom: 16px;
  line-height: 1;
}

h1 {
  font-size: 24px;
  font-weight: 900;
}

form {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.form__submit {
  width: 100%;
  display: flex;
  justify-content: center;
}

label {
  position: relative;
  padding-bottom: var(--spacing-md);
}

.label__suffix {
  position: absolute;
  bottom: -2px;
  color: rgb(var(--blue));
  right: 0;
  margin-right: var(--spacing-xsm);
  font-size: var(--font-sm);
  cursor: pointer;
  text-decoration: underline;
}

.label__title {
  margin: 0 0 var(--spacing-xsm) var(--spacing-xsm);
}

.label__error {
  position: absolute;
  bottom: -2px;
  left: 0;
  margin-left: var(--spacing-xsm);
  color: rgb(var(--solid));
  font-size: var(--font-sm);
}

table {
  width: 100%;
  line-height: 1.4;
}

tr {
  display: flex;
}

td {
  display: flex;
  flex-basis: 50%;
}

td:last-child {
  justify-content: flex-end;
}

img {
  display: block;
}

button, .button {
  padding:
    var(--spacing-sm)
    var(--spacing-lg)
    var(--spacing-sm)
    calc(var(--spacing-lg) + 4px); /* 4px accounts for leter spacing on the left */
  background-color: rgb(var(--dark-grey));
  border: 2px solid rgb(127, 127, 127);
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: var(--font-sm);
  letter-spacing: 4px;
  transition: border-color 250ms ease-in-out, color 250ms ease-in-out;
}

button:hover {
  border-color: rgb(255, 255, 255);
}
button:focus {
  border-color: rgb(var(--purple));
}
button:disabled {
  border-color: rgb(127, 127, 127);
  color: rgb(127, 127, 127);
  cursor: not-allowed;
}

.button--icon {
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  color: rgb(192, 192, 192);
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 1;
  transition: color 250ms cubic-bezier(var(--ease-in-out-quad));
}

.button--icon:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.button--active {
  color: white;
  border-color: rgb(var(--purple));
}


input, select {
  width: 100%;
  padding:
    var(--spacing-sm)
    var(--spacing-lg)
    var(--spacing-sm)
    calc(var(--spacing-lg) + 4px);
  background-color: rgb(var(--dark-grey));
  border: 2px solid rgb(127, 127, 127);
  border-radius: 8px;
  box-sizing: border-box;
  color: rgb(192, 192, 192);
  font-family: inherit;
  font-size: var(--font-sm);
  letter-spacing: 4px;
  transition: border-color 250ms ease-in-out, color 250ms ease-in-out;
}

input:hover {
  border-color: white;
  color: white;
}

input:focus {
  color: white;
  border-color: rgb(var(--purple));
  outline: 0;
}


.floating-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5em;
  display: flex;
  align-items: center;
  background-color: rgb(var(--light-grey));
  border-radius: 4px;
  box-shadow: var(--elevation-sm);
  z-index: 1000;
}


.links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: var(--spacing-md) 0;
}

.link {
  padding: 0 0.5em 0.5em 0.5em;
  /* border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(63,63,63,1) 0%,
    rgba(255,255,255,1) 50%,
    rgba(63,63,63,1) 100%
  ) 1; */
  box-sizing: border-box;
  transition: text-shadow 225ms ease-in-out, border-image 225ms ease-in-out;
}

.link:hover {
  /* background-color: rgb(var(--purple)); */
  cursor: pointer;

  /* border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(63,63,63,1) 0%,
    rgba(var(--purple), 1) 50%,
    rgba(63,63,63,1) 100%
  ) 1; */
  /* border-bottom: 2px solid rgb(var(--purple)); */
  text-shadow: rgba(255,255,255,1) 0px 0px 8px;
}

.linkActive {
  /* border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(63,63,63,1) 0%,
    rgba(var(--purple), 1) 50%,
    rgba(63,63,63,1) 100%
  ) 1; */
  /* border-bottom: 2px solid rgb(var(--purple)); */
  text-shadow: rgba(255,255,255,1) 0px 0px 8px;
}

.modal {
  width: 384px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.modal__title {
  font-size: var(--font-xlg);
  font-weight: bold;
}

.modal__info {
  line-height: 1.4;
  text-align: justify;
}
.modal__info--tutorial {
  line-height: 1.4;
}

.modal__table {
  /* padding: var(--spacing-sm) 0; */
  border: 1px solid;
  border-right: 0;
  border-left: 0;
  border-image: linear-gradient(
    90deg,
    rgba(63, 63, 63, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(63, 63, 63, 1) 100%
  ) 1;
}

.modal__error {
  width: 100%;
  color: rgb(var(--red));
  text-align: center;
}

.modal__submit {
  width: 100%;
  display: flex;
  justify-content: center;
}


/* Game WHY TF DID I PUT THIS HERE JUST SPENT 3 HOURS FIGURING OUT WHY IS
MY LOCAL ISSELECTED BEING OVERWRITTEN SMHHHHHH gg wp
global css = evil*/
.isSelected {
  position: relative;
  cursor: pointer;
  /* box-shadow: 0 0 0 0 rgb(255, 255, 255); */
}

.isSelected::after {
  content: "";
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  box-shadow: 0 0 16px 4px rgb(255, 255, 255);
  animation: isSelectedGlow 1s cubic-bezier(var(--ease-in-out-quad)) infinite alternate;
}

@keyframes isSelectedGlow {
  from {opacity: 0;}
  to {opacity: 1;}
}

.isTargetable {
  position: relative;
  cursor: pointer;
  /* box-shadow: 0 0 0 0 rgb(var(--green)); */
}
.isTargetable::after{
  content: "";
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  box-shadow: 0 0 16px 4px rgb(var(--green));
  animation: isTargetableGlow 1s cubic-bezier(var(--ease-in-out-quad)) infinite alternate;
}

@keyframes isTargetableGlow {
  from {opacity: 0;}
  to {opacity: 1;}
}



.menu {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(31, 31, 31);
  z-index: 32;
  cursor: initial;
  padding: 1em 0.5em;
  border-top-width: 0;
  border-right-width: 1px;
  border-bottom-width: 0;
  border-left-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(63,63,63,1) 0%,
    rgba(255,255,255,1) 50%,
    rgba(63,63,63,1) 100%
  ) 1;
}

.menu__link {
  /* all: unset; */
  background-color: transparent;
  color: white;
  border: 0;
  text-align: left;
  font-family: "Nunito";
  font-size: 1rem;
  padding: 0.5em 0;
  margin-bottom: 0.5em;
  box-sizing: border-box;
  cursor: pointer;
  transition: text-shadow 225ms ease-in-out, border-image 225ms ease-in-out;
}

.menu__link:last-child {
  margin-bottom: 0;
}

.menu__link:hover {
  text-shadow: rgba(255, 255, 255, 1) 0px 0px 8px;
  border-image: linear-gradient(
    90deg,
    rgba(31,31,31,1) 0%,
    rgba(var(--purple),1) 50%,
    rgba(31,31,31,1) 100%
  ) 1;
}
